In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotnine as p9
import os

from lib.lib import Import_data

path = Import_data()
# get all files in the directory
files = os.listdir(path)
print(files)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.6), please consider upgrading to the latest version (0.3.7).
Path to dataset files: C:\Users\kskdu\.cache\kagglehub\datasets\arashnic\earthquake-magnitude-damage-and-impact\versions\6
['csv_building_damage_assessment.csv', 'csv_building_ownership_and_use.csv', 'csv_building_structure.csv', 'csv_household_demographics.csv', 'csv_household_earthquake_impact.csv', 'csv_household_resources.csv', 'csv_individual_demographics.csv', 'mapping.csv', 'ward_vdcmun_district_name_mapping.csv']

In [36]:
# print the first 5 rows of the data for each file
for file in files:
    #display the filename as a header fotmatted in bold
    print("\033[1m" + file + "\033[0m")
    data = pd.read_csv(path + "/" + file)
    display(data.head())

csv_building_damage_assessment.csv

C:\Users\kskdu\AppData\Local\Temp\ipykernel_4036\22071454.py:5: DtypeWarning: Columns (5,17,29,34,35,36,37,38,39,40,41,42,43,47,50) have mixed types. Specify dtype option on import or set low_memory=False.

,building_id,district_id,vdcmun_id,ward_id,damage_overall_collapse,damage_overall_leaning,damage_overall_adjacent_building_risk,damage_foundation_severe,damage_foundation_moderate,damage_foundation_insignificant,...,has_damage_parapet,has_damage_cladding_glazing,has_geotechnical_risk,has_geotechnical_risk_land_settlement,has_geotechnical_risk_fault_crack,has_geotechnical_risk_liquefaction,has_geotechnical_risk_landslide,has_geotechnical_risk_rock_fall,has_geotechnical_risk_flood,has_geotechnical_risk_other
0,120101000011,12,1207,120703,Moderate-Heavy,Insignificant/light,NaN,NaN,Moderate-Heavy-(<1/3),Insignificant/light-(<1/3),...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,Severe-Extreme,Severe-Extreme,Insignificant/light,Severe-Extreme-(>2/3),NaN,NaN,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,Moderate-Heavy,Moderate-Heavy,Moderate-Heavy,NaN,Moderate-Heavy-(>2/3),NaN,...,0.0,0.0,0.0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,Moderate-Heavy,Moderate-Heavy,Moderate-Heavy,NaN,Moderate-Heavy-(>2/3),NaN,...,0.0,0.0,0.0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,Insignificant/light,NaN,NaN,NaN,NaN,Insignificant/light-(<1/3),...,0.0,0.0,0.0,0,0,0,0,0,0,0

csv_building_ownership_and_use.csv

,building_id,district_id,vdcmun_id,ward_id,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

csv_building_structure.csv

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,...,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,condition_post_eq,damage_grade,technical_solution_proposed
0,120101000011,12,1207,120703,1,1,9,288,9,9,...,0,0,0,1,0,0,0,Damaged-Used in risk,Grade 3,Major repair
1,120101000021,12,1207,120703,1,1,15,364,9,9,...,0,0,0,1,0,0,0,Damaged-Repaired and used,Grade 5,Reconstruction
2,120101000031,12,1207,120703,1,1,20,384,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
3,120101000041,12,1207,120703,1,1,20,312,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
4,120101000051,12,1207,120703,1,1,30,308,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 1,Minor repair

csv_household_demographics.csv

,household_id,district_id,vdcmun_id,ward_id,gender_household_head,age_household_head,caste_household,education_level_household_head,income_level_household,size_household,is_bank_account_present_in_household
0,12010100001101,12,1207,120703,Male,31.0,Rai,Illiterate,Rs. 10 thousand,3.0,0.0
1,12010100002101,12,1207,120703,Female,62.0,Rai,Illiterate,Rs. 10 thousand,6.0,0.0
2,12010100003101,12,1207,120703,Male,51.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,13.0,0.0
3,12010100004101,12,1207,120703,Male,48.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,5.0,0.0
4,12010100005101,12,1207,120703,Male,70.0,Gharti/Bhujel,Illiterate,Rs. 10 thousand,8.0,0.0

csv_household_earthquake_impact.csv

,household_id,district_id,vdcmun_id,ward_id,shelter_condition_household_post_eq,residence_household_pre_eq,residence_household_post_eq,household_eq_id_type,has_death_occurred_last_12_months,count_death_last_12_months,...,has_occupation_change_occurred_last_12_months,count_occupation_change_last_12_months,residence_district_household_head_pre_eq,residence_district_household_head_post_eq,is_recipient_rahat_15k,is_recipient_rahat_10k,is_recipient_rahat_200k,is_recipient_rahat_social_security_3k,is_recipient_rahat_none,is_ineligible_rahat
0,12010100001101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,...,0.0,NaN,NaN,NaN,1,1,0,0,0,0
1,12010100002101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0
2,12010100003101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0
3,12010100004101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0
4,12010100005101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,...,0.0,NaN,NaN,NaN,0,0,0,0,1,0

csv_household_resources.csv

,household_id,district_id,vdcmun_id,ward_id,source_water_pre_eq,source_water_post_eq,source_cooking_fuel_pre_eq,source_cooking_fuel_post_eq,source_light_pre_eq,source_light_post_eq,...,has_asset_cable_post_eq,has_asset_computer_post_eq,has_asset_internet_post_eq,has_asset_telephone_post_eq,has_asset_mobile_phone_post_eq,has_asset_fridge_post_eq,has_asset_motorcycle_post_eq,has_asset_four_wheeler_family_use_post_eq,has_asset_four_wheeler_commercial_post_eq,has_asset_none_post_eq
0,12010100001101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
1,12010100002101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
2,12010100003101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
3,12010100004101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0
4,12010100005101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,...,0,0,0,0,1,0,0,0,0,0

csv_individual_demographics.csv

KeyboardInterrupt:

In [29]:
df_kk = pd.read_csv(path + "/" + "ward_vdcmun_district_name_mapping.csv")
df_kk[df_kk["vdcmun_id"] == 1208]

    ward_id  vdcmun_id                  vdcmun_name  district_id district_name
65   120801       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
66   120802       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
67   120803       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
68   120804       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
69   120805       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
70   120806       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
71   120807       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
72   120808       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
73   120809       1208  Sunkoshi Rural Municipality           12   Okhaldhunga
74   120810       1208  Sunkoshi Rural Municipality           12   Okhaldhunga

In [15]:
df1 = pd.read_csv(path + "/" + "csv_individual_demographics.csv")
df1 = df1[["individual_id", "education_level_individual"]]

In [30]:
df2_t = pd.read_csv(f"{path}/csv_building_structure.csv")
df3_t = pd.read_csv(f"{path}/mapping.csv")
df_ed_dg = pd.merge(pd.merge(df1, df3_t, on="individual_id"), df2_t, on="building_id")[["education_level_individual", "damage_grade"]]

education_level_individual    19
damage_grade                   5
dtype: int64

In [31]:
df_ed_dg.nunique()

education_level_individual    19
damage_grade                   5
dtype: int64

In [32]:
for col in df_ed_dg.columns:
    print(f"Unique values in {col}:")
    print(df_ed_dg[col].unique(), "\n")

Unique values in education_level_individual:
['Illiterate' 'Class 7' 'Class 6' 'Class 8' 'Nursery/K.G./Kindergarten'
 nan 'Class 5' 'SLC or equivalent' 'Intermediate or equivalent' 'Class 10'
 'Non-formal education' 'Class 1' 'Class 9' 'Class 4' 'Class 3' 'Class 2'
 'Bachelor degree or equivalent' 'Other' 'Master degree or equivalent'
 'Ph.D. level or equivalent']

Unique values in damage_grade:
['Grade 3' 'Grade 5' 'Grade 2' 'Grade 1' 'Grade 4' nan]

In [37]:
df2_t = pd.read_csv(f"{path}/csv_building_structure.csv")[["building_id", "damage_grade"]]
df3_t = pd.read_csv(f"{path}/mapping.csv")
df_ed_dg = pd.merge(pd.merge(df1, df3_t, on="individual_id"), df2_t, on="building_id")[["education_level_individual", "damage_grade"]]

# Mapping damage grades to numerical values
damage_mapping = {
    "Grade 1": 1,
    "Grade 2": 2,
    "Grade 3": 3,
    "Grade 4": 4,
    "Grade 5": 5  # Assuming Grade 5 is the most severe, mapping it to 4
}

# Convert damage grades to numbers
df_ed_dg["damage_grade"] = df_ed_dg["damage_grade"].map(damage_mapping)

# Remove NaN values (optional)
df_ed_dg = df_ed_dg.dropna(subset=["education_level_individual", "damage_grade"])

# Compute average damage grade per education level
avg_damage_by_education = df_ed_dg.groupby("education_level_individual")["damage_grade"].mean().reset_index()

# Display the results
print(avg_damage_by_education)

       education_level_individual  damage_grade
0   Bachelor degree or equivalent      3.422252
1                         Class 1      3.648585
2                        Class 10      3.591810
3                         Class 2      3.650711
4                         Class 3      3.651406
5                         Class 4      3.649126
6                         Class 5      3.652044
7                         Class 6      3.637246
8                         Class 7      3.624415
9                         Class 8      3.614798
10                        Class 9      3.599280
11                     Illiterate      3.721413
12     Intermediate or equivalent      3.541282
13    Master degree or equivalent      3.304766
14           Non-formal education      3.703924
15      Nursery/K.G./Kindergarten      3.627601
16                          Other      3.932008
17      Ph.D. level or equivalent      3.540682
18              SLC or equivalent      3.557501

In [39]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [48]:
df2_t = pd.read_csv(f"{path}/csv_building_structure.csv", nrows=50000)

###########################
# 1) Select relevant columns
###########################
columns_of_interest = [
    'count_floors_pre_eq',
    'age_building',
    'plinth_area_sq_ft',
    'height_ft_pre_eq',
    'has_superstructure_mud_mortar_brick',
    'has_superstructure_cement_mortar_brick',
    'has_superstructure_timber',
    'has_superstructure_bamboo',
    'has_superstructure_rc_non_engineered',
    'has_superstructure_rc_engineered',
    'has_superstructure_other'
]

df = df2_t[columns_of_interest].copy()

In [ ]:


######################################
# 3) Normalize count_floors_pre_eq (0-10)
######################################
scaler_floors = MinMaxScaler(feature_range=(0,1))
df['count_floors_pre_eq'] = scaler_floors.fit_transform(df[['count_floors_pre_eq']])

########################################################
# 4) Handle age_building with 999 as missing, then scale
########################################################
median_age = df.loc[df['age_building'] != 999, 'age_building'].median()
df['age_building'] = df['age_building'].replace(999, median_age)

scaler_age = MinMaxScaler()
df['age_building'] = scaler_age.fit_transform(df[['age_building']])

#######################################
# 5) Non-linear (log) normalization for plinth_area_sq_ft
#######################################
df['plinth_area_sq_ft'] = np.log1p(df['plinth_area_sq_ft']) / np.log(1000)

#######################################
# 6) Normalize height_ft_pre_eq (0-100)
#######################################
scaler_height = MinMaxScaler(feature_range=(0,1))
df['height_ft_pre_eq'] = scaler_height.fit_transform(df[['height_ft_pre_eq']])

###################################################################
# 7) Superstructure columns are already one-hot, so no extra changes
###################################################################

print("Final shape:", df.shape)
print(df.head())

Final shape: (50000, 11)
   count_floors_pre_eq  age_building  plinth_area_sq_ft  height_ft_pre_eq  \
0                  0.0         0.045           0.820299          0.055556
1                  0.0         0.075           0.854098          0.055556
2                  0.0         0.100           0.861820          0.055556
3                  0.0         0.100           0.831848          0.055556
4                  0.0         0.150           0.829986          0.055556

   has_superstructure_mud_mortar_brick  \
0                                    0
1                                    0
2                                    0
3                                    0
4                                    0

   has_superstructure_cement_mortar_brick  has_superstructure_timber  \
0                                       0                          0
1                                       0                          0
2                                       0                          0
3                                       0                          0
4                                       0                          0

   has_superstructure_bamboo  has_superstructure_rc_non_engineered  \
0                          1                                     0
1                          1                                     0
2                          0                                     0
3                          0                                     0
4                          0                                     0

   has_superstructure_rc_engineered  has_superstructure_other
0                                 0                         0
1                                 0                         0
2                                 0                         0
3                                 0                         0
4                                 0                         0

In [50]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

# Load data
df2_t = pd.read_csv(f"{path}/csv_building_structure.csv", nrows=50000)

###########################
# 1) Select relevant columns
###########################
columns_of_interest = [
    'count_floors_pre_eq',
    'age_building',
    'plinth_area_sq_ft',
    'height_ft_pre_eq',
    'has_superstructure_mud_mortar_brick',
    'has_superstructure_cement_mortar_brick',
    'has_superstructure_timber',
    'has_superstructure_bamboo',
    'has_superstructure_rc_non_engineered',
    'has_superstructure_rc_engineered',
    'has_superstructure_other',
    'damage_grade'
]

df = df2_t[columns_of_interest].copy()

#######################################
# 3) Normalize count_floors_pre_eq (0-10)
#######################################
scaler_floors = MinMaxScaler(feature_range=(0,1))
df['count_floors_pre_eq'] = scaler_floors.fit_transform(df[['count_floors_pre_eq']])

########################################################
# 4) Handle age_building with 999 as missing, then scale
########################################################
median_age = df.loc[df['age_building'] != 999, 'age_building'].median()
df['age_building'] = df['age_building'].replace(999, median_age)

scaler_age = MinMaxScaler()
df['age_building'] = scaler_age.fit_transform(df[['age_building']])

#######################################
# 5) Non-linear (log) normalization for plinth_area_sq_ft
#######################################
df['plinth_area_sq_ft'] = np.log1p(df['plinth_area_sq_ft']) / np.log(1000)

#######################################
# 6) Normalize height_ft_pre_eq (0-100)
#######################################
scaler_height = MinMaxScaler(feature_range=(0,1))
df['height_ft_pre_eq'] = scaler_height.fit_transform(df[['height_ft_pre_eq']])

###################################################################
# 7) Superstructure columns are already one-hot, so no extra changes
###################################################################

######################################
# 8) Encode damage_grade (categorical -> numeric)
######################################
damage_mapping = {
    'Grade 1': 1,
    'Grade 2': 2,
    'Grade 3': 3,
    'Grade 4': 4,
    'Grade 5': 5,
    np.nan: 0  # Treat NaN as 0
}
df['damage_grade'] = df['damage_grade'].map(damage_mapping)

print("Final shape:", df.shape)
print(df.head())

Final shape: (50000, 12)
   count_floors_pre_eq  age_building  plinth_area_sq_ft  height_ft_pre_eq  \
0                  0.0         0.045           0.820299          0.055556
1                  0.0         0.075           0.854098          0.055556
2                  0.0         0.100           0.861820          0.055556
3                  0.0         0.100           0.831848          0.055556
4                  0.0         0.150           0.829986          0.055556

   has_superstructure_mud_mortar_brick  \
0                                    0
1                                    0
2                                    0
3                                    0
4                                    0

   has_superstructure_cement_mortar_brick  has_superstructure_timber  \
0                                       0                          0
1                                       0                          0
2                                       0                          0
3                                       0                          0
4                                       0                          0

   has_superstructure_bamboo  has_superstructure_rc_non_engineered  \
0                          1                                     0
1                          1                                     0
2                          0                                     0
3                          0                                     0
4                          0                                     0

   has_superstructure_rc_engineered  has_superstructure_other  damage_grade
0                                 0                         0             3
1                                 0                         0             5
2                                 0                         0             2
3                                 0                         0             2
4                                 0                         0             1

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
from torch.utils.data import TensorDataset, DataLoader

# Convert dataframe to tensors
X = torch.tensor(df.drop(columns=['damage_grade']).values, dtype=torch.float32)
y = torch.tensor(df['damage_grade'].values, dtype=torch.float32).view(-1, 1)

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create DataLoader
train_dataset = TensorDataset(X_train, y_train)
test_dataset = TensorDataset(X_test, y_test)

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=32, shuffle=False)

# Define the Neural Network
class DamageNet(nn.Module):
    def __init__(self):
        super(DamageNet, self).__init__()
        self.fc1 = nn.Linear(X_train.shape[1], 110)
        self.fc2 = nn.Linear(110, 73)
        self.fc4 = nn.Linear(73, 24)
        self.fc3 = nn.Linear(24, 1)
        self.relu = nn.ReLU()
    
    def forward(self, x):
        x = self.relu(self.fc1(x))
        x = self.relu(self.fc2(x))
        x = self.relu(self.fc4(x))
        x = self.fc3(x)  # Linear output
        return x

# Initialize model
model = DamageNet()
criterion = nn.MSELoss()  # Loss function for regression
optimizer = optim.Adam(model.parameters(), lr=0.01)

# Training Loop
epochs = 10
for epoch in range(epochs):
    for batch_X, batch_y in train_loader:
        optimizer.zero_grad()
        outputs = model(batch_X)
        loss = criterion(outputs, batch_y)
        loss.backward()
        optimizer.step()
    
    print(f"Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}")

print(X_train.shape[1])
print(X_train)

Epoch [1/20], Loss: 1.5189
Epoch [2/20], Loss: 1.6939
Epoch [3/20], Loss: 1.9867
Epoch [4/20], Loss: 2.3081
Epoch [5/20], Loss: 1.6042
Epoch [6/20], Loss: 1.6089
Epoch [7/20], Loss: 1.2420
Epoch [8/20], Loss: 1.3504
Epoch [9/20], Loss: 1.5753
Epoch [10/20], Loss: 1.7129
Epoch [11/20], Loss: 2.2471
Epoch [12/20], Loss: 2.1102